.example-card {
    max-width: 350px;
    height:350px;
    margin:20px;
    float:left;
  }
  
  .example-header-image {
    background-image: url('http://localhost/business1.png');
    background-size: cover;
  }